# Note this is just the password on initial boot
# Once you boot this will be saved to database and you can 
# change it in the UI (recommended)
GF_SECURITY_ADMIN_PASSWORD={{ gf_security_admin_password }}