!
! This is the config for sfacctd
! See https://github.com/pmacct/pmacct/blob/master/CONFIG-KEYS
!
! When using nfreplay watch for this bug: https://github.com/pmacct/pmacct/issues/163

!
! General sfacctd settings
!

! Port where sfacctd listens
sfacctd_port: 9997
writer_id_string: sfacctd

! Enable recommended internal buffer settings
plugin_pipe_zmq: true
! If you are not seeing data, make sure this is set correctly. Guidance for setting this is here based on flows per second (source: pmacct docs):
! micro   : up to 1K (0KB)
! small   : from 1K to 10-15K (10KB) 
! medium  : from 10-15K to 100-125K (100KB)
! large   : from 100-125K to 250K (1MB)
! xlarge  : from 250K (10MB)
plugin_pipe_zmq_profile: medium

! Adds debugging output to logs. Disable in production.
!debug: true

! Fields we want in the output. See pmacct docs for field meanings
aggregate: peer_src_ip,label,src_host,dst_host,src_port,dst_port,proto,in_iface,out_iface,src_as,dst_as,peer_dst_ip,timestamp_arrival,vlan

! Output timestamps as epoch as opposed to strings we need to parse
timestamps_since_epoch: true

! Gets the sampling rate from flow packet and automatically applies it
!  Example: If sample_rate is 1000 (meaning 1/1000) then it multiplies 
!  packets and bytes by 1000.
sfacctd_renormalize: true

! Add custom labels and tags
pre_tag_map: /etc/pmacct/pretag.map

! List of known ports that zeroes out unknown ports
! ports_file: /etc/pmacct/ports.lst

!
! Kafka settings
!
! Note: kafka_config_file is a full pathname to a file containing directives to configure librdkafka. All knobs
! whose values are string, integer, boolean, CSV are supported. Pointer values, ie.
! for setting callbacks, are currently not supported through this infrastructure.
! The syntax of the file is CSV and expected in the format: <type, key, value> where
! 'type' is one of 'global' or 'topic' and 'key' and 'value' are set according to
! librdkafka doc https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md
! Both 'key' and 'value' are passed onto librdkafka without any validation being
! performed; the 'value' field can also contain commas no problem as it is also not
! parsed. Examples are:
!
! topic, compression.codec, snappy
! global, socket.keepalive.enable, true
plugins: kafka[main]
! "Main" handles flows above 1 packet assuming 1/1000 sampling
! minp matches >=
! kafka_preprocess[main]: minp=1001
! kafka_preprocess_type[main]: any
kafka_topic[main]: {{ kafka_topic }}
kafka_config_file[main]: /etc/pmacct/kafka.csv
kafka_refresh_time[main]: 30
