.DS_Store
.*.swn
.*.swo
.*.swp
.vscode/
.env*
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
conf/
# Ignore Helm values file
**/helm/values.yaml
#anything in caches that isn't .placeholder
*/pipeline/caches/*
!*/pipeline/caches/.placeholder