.DS_Store
.*.swn
.*.swo
.*.swp
.vscode/
.env*
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
conf/
docker/conf.d/
!docker/conf.d/.placeholder
kafka/conf/
clickhouse/conf/
# Ignore Helm values file
helm/**/values.yaml
#anything in caches that isn't .placeholder
*/pipeline/caches/*
!*/pipeline/caches/.placeholder
/docker-compose.yml
.venv/
scripts/gen_flows.py
scripts/md2gdoc.py
scripts/gdoc2md.py
authz-spec.html

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
