# Enable debug output
DEBUG=false

# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS={{ kafka_bootstrap_servers }}
KAFKA_CONSUMER_GROUP=metranova_pipeline
KAFKA_SSL_CA_LOCATION=/etc/kafka/ca.crt
KAFKA_SASL_USERNAME=pipeline
KAFKA_SASL_PASSWORD={{ kafka_pipeline_password }}

# ClickHouse configuration
CLICKHOUSE_HOST={{ ch_host }}
CLICKHOUSE_PORT={{ ch_https_port }}
CLICKHOUSE_DATABASE=metranova
CLICKHOUSE_USERNAME={{ ch_pipeline_user }}
CLICKHOUSE_PASSWORD={{ ch_pipeline_password }}
CLICKHOUSE_BATCH_SIZE=10000
CLICKHOUSE_BATCH_TIMEOUT=5  # seconds

# Metadata tables - referenced by multiple pipelines
CLICKHOUSE_SCIREG_METADATA_TABLE=meta_ip_scireg
CLICKHOUSE_IF_METADATA_TABLE=meta_interface
CLICKHOUSE_DEVICE_METADATA_TABLE=meta_device
CLICKHOUSE_ORGANIZATION_METADATA_TABLE=meta_organization
CLICKHOUSE_CIRCUIT_METADATA_TABLE=meta_circuit
CLICKHOUSE_AS_METADATA_TABLE=meta_as
CLICKHOUSE_IP_METADATA_TABLE=meta_ip