include:
{% if message_bus.enabled %}
  - {{ message_bus.type }}/docker-compose.yml
{% endif %}
{% if datastore.enabled %}
  - {{ datastore.type }}/docker-compose.yml
{% endif %}
{% for stack in stacks %}
{% for collector in stack.collectors | default([]) %}
{% if collector.enabled %}
  - {{ stack.type }}/collector/{{ collector.type }}/docker-compose.yml
{% endif %}
{% endfor %}
{% if stack.pipeline.enabled %}
  - {{ stack.type }}/pipeline/docker-compose.yml
{% endif %}
{% endfor %}
{% if dashboard.enabled %}
  - {{ dashboard.type }}/docker-compose.yml
{% endif %}