{{- if not .Values.certificates.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "metranova-snmp-pipeline.fullname" . }}-certs
  labels:
    {{- include "metranova-snmp-pipeline.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.certificates.kafka.ca }}
  kafka_ca.crt: {{ .Values.certificates.kafka.ca | b64enc }}
  {{- end }}
  {{- if .Values.certificates.kafka.cert }}
  kafka_user.crt: {{ .Values.certificates.kafka.cert | b64enc }}
  {{- end }}
  {{- if .Values.certificates.kafka.key }}
  kafka_user.key: {{ .Values.certificates.kafka.key | b64enc }}
  {{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "metranova-snmp-pipeline.fullname" . }}-secrets
  labels:
    {{- include "metranova-snmp-pipeline.labels" . | nindent 4 }}
type: Opaque
stringData:
  KAFKA_SSL_KEY_PASSWORD: {{ .Values.config.kafka.ssl.keyPassword | quote }}
  CLICKHOUSE_PASSWORD: {{ .Values.config.clickhouse.password | quote }}
{{- end }}
